//Fonts
$spartan : 'Spartan', sans-serif;

// Tamaño de Media Queries
$telefono: 375px;
$desktop: 1280px;

//Colors
//Primary
$veryDarkMagenta: #511F4E;
$softPink : hsl(333, 80%, 67%);
//Neutral
$darkGrayishMagenta: hsl(303, 10%, 53%);
$lightGrayishMagenta: hsl(300, 24%, 96%); 
$white: hsl(300, 0%, 100%); 

$fontSize: 1.5rem;
$separacionRating : 1.6rem;
$radius: 1rem;